<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mygame.checkers" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Bluetooth Checkers</name>
    <description>Локальные шашки по Bluetooth</description>
    <author email="your@email.com">MyName</author>
    <content src="www/index.html" />
    <plugin name="cordova-plugin-bluetooth-serial" />
    <preference name="KeepRunning" value="true" />
</widget>